body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
}
.maincontainer {
  width: 720px;
  height: 540px;
  box-shadow: 1px 1px 2px black;
  border-radius: 20px;
  display: flex;
}
.img-box {
  width: 50%;
  height: 100%;
  border-radius: 20px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.data-box {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfume-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.price {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price h2 {
  color: rgba(0, 128, 79, 0.6);
  font-size: 30px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgba(0, 128, 79, 0.6);
  font-size: 15px;
}
button img {
  width: 24px;
  margin-right: 10px;
}
p,
span {
  color: rgba(0, 0, 0, 0.5);
}
span {
  margin-left: 10px;
}
.perfume {
  letter-spacing: 10px;
}
.perfume-container h2 {
  font-size: 30px;
}
